/*reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*applied to everything by default*/
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    color: hsl(240, 6%, 50%);
}

/*container*/
.section {
    min-height: 100vh;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:8rem;
}

.card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 22rem;
    position: relative;
    padding-top: 8.5rem;
}

.faq-title {
    text-align: center;
    font-size: 2rem;
    color: rgb(38, 38, 38);
    margin-bottom: 1.25rem;
    /* margin-top: 3rem; */

}

.accordian-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.25rem;
    
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }

.accordian-answer {
    margin-bottom: 1.25rem;
    max-width: 95%;
    display: none;
    animation: fade-in 1s;
    
}

.accordian-arrow {
    transition: all .3s ease-in;
}

/* Added classes on toggle */
.show {
    display:block; /*shows the answer*/
}

.rotate {
    transform: rotate(180deg); /*rotates the arrow*/
}


.line-break {
    width: 100%;
    height: .125rem;
    background-color: hsl(240, 5%, 91%);
    margin-bottom: 1.25rem;

}



/* Hover */
.accordian-question:hover {
    color: orange;
    cursor: pointer;
}

.active {
    color: #000;
}


.image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    width: 70%;
    margin: 0 auto;
    margin-top: -7rem;
}

.image-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;

}

.attribution {
    margin-top: 2rem;
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.attribution a {
    color: hsl(0, 0%, 0%);
}

@media only screen and (max-width:900px){
    
    .desktop-box, .desktop-background, .desktop-image {
        display:none;
    }
}

@media only screen and (min-width: 900px) {

    .card {
        min-width: 800px;
        padding-top: 2rem;
        overflow: hidden; 
        padding-right: 6rem;
        
        /* not sure how to not hide the box only */
    }

   
    .accordian {
        margin-left: 55%;
        
    }

    .image,
    .image-shadow {
        display: none;
    }

    
     .desktop-image {
        position: absolute;
        top: 2rem;
        bottom: 0;
        left: -4.5rem;
        right: 0; 
        width:50%;
        
    }

    .desktop-box {
       
        position: absolute;
        top: 9rem;
        bottom: 0;
        left: -4.75rem;
        right: 0; 
        width: 19%;
       
    }  

    .desktop-background {
        position: absolute;
        top: -14rem;
        bottom: 0;
        left: -27rem;
        right: 0; 
        width: 95%;
    }

    .faq-title {
        margin-left: 8rem;
    }
}

